#my-div {
  width: 300px;
  height: 300px;
  margin-top: 2000px;
  border-width:10px;
  border-style:solid;
}

.bg-red {
  background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-green {
  background-color: green;
}

.border-green{
    border-color: green;
}

.border-black {
  border-color: black;
}

.hide-on-init {
  visibility: hidden;
}

.animate__animated {
  visibility: visible !important;
}
